body {
  margin: 0 auto !important;
  float: none !important;
  color: rgba(0, 0, 0, 0.8); }

main {
  max-width: 740px;
  margin: 0 auto !important;
  padding: 2rem 1.5rem; }

a {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  /* @include transition(background-color .2s ease-in-out); */ }

a:link {
  outline: 0;
  color: #0095b6;
  text-decoration: none; }

a:visited {
  color: #0689a6; }

a:hover {
  text-decoration: none;
  color: #00bfe9; }

.muted {
  color: rgba(179, 179, 179, 0.8); }

.highlight {
  position: relative; }
  .highlight pre code[data-lang="c"]::before {
    content: "c";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="swift"]::before {
    content: "swift";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="java"]::before {
    content: "java";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="Chinese"]::before {
    content: "Chinese";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="English"]::before {
    content: "English";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="ruby"]::before {
    content: "ruby";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="python"]::before {
    content: "python";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="sh"]::before {
    content: "sh";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="emacs-lisp"]::before {
    content: "emacs-lisp";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
._23Ty-0SHPIFT4TOUNCMSKe, ._2EU-kfplmGbIm5UGJSsQFv {
  margin: 0 auto !important;
  float: none !important; }
  @media print {
    ._23Ty-0SHPIFT4TOUNCMSKe, ._2EU-kfplmGbIm5UGJSsQFv {
      display: none !important; } }

._23Ty-0SHPIFT4TOUNCMSKe {
  padding: 0.5rem 1.5rem; }

._2EU-kfplmGbIm5UGJSsQFv {
  background: #282B36; }

._1F7OkBlQA0ARoRprBgxWYL, ._3BNX1xMn3L51VIsEUz9nHn {
  max-width: 740px;
  margin: 0 auto !important;
  padding: 2rem 1.5rem; }
._3mf0s9S4dOsURKFrURgi9G {
  display: flex;
  align-items: center;
  align-content: space-around;
  margin: 3em 1em 3em 1em; }

._1fhWyDikcQPseBYaO7Kjqu {
  width: 50px;
  margin: 0 1em 0 0; }

._1YDRBDoTWVsw4BIs_ijnnb {
  font-size: 2em;
  font-weight: 800; }
._1m2wDKHVkgO_9205WP5rdq {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

._1oNeCqhwHNVUSsGyCXca34 {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .5rem 1.5rem; }

._1oNeCqhwHNVUSsGyCXca34:hover {
  background-color: #f1f1f1;
  text-decoration: none; }
._2uFEByaAoJzhxhXAnc1Qyp {
  padding: 5.0rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.8); }

._2SYrMMs2hQCzfO9fhW8DQ2 {
  display: flex;
  flex-direction: row; }
  ._2SYrMMs2hQCzfO9fhW8DQ2 a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0.5rem; }

._3AFlbJHny-C_lz7zC5hPNE {
  height: 0.5rem; }

._3LDCaCZ8OmlzNjcQYBaCMD {
  padding: 1.5rem 1.5rem; }
._2FQ1PDWux7f4iRxesuZO1I {
  margin-left: 5px;
  padding: 3px;
  background-color: gray;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 0.8em; }
