body {
  margin: 0 auto !important;
  float: none !important;
  color: rgba(0, 0, 0, 0.8); }

main {
  max-width: 740px;
  margin: 0 auto !important;
  padding: 2rem 1.5rem; }

a {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  /* @include transition(background-color .2s ease-in-out); */ }

a:link {
  outline: 0;
  color: #0095b6;
  text-decoration: none; }

a:visited {
  color: #0689a6; }

a:hover {
  text-decoration: none;
  color: #00bfe9; }

.muted {
  color: rgba(179, 179, 179, 0.8); }

.highlight {
  position: relative; }
  .highlight pre code[data-lang="c"]::before {
    content: "c";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="swift"]::before {
    content: "swift";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="java"]::before {
    content: "java";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="Chinese"]::before {
    content: "Chinese";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="English"]::before {
    content: "English";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="ruby"]::before {
    content: "ruby";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="python"]::before {
    content: "python";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="sh"]::before {
    content: "sh";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .highlight pre code[data-lang="emacs-lisp"]::before {
    content: "emacs-lisp";
    display: inline;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 4px;
    color: #f8f8f2;
    font-size: 0.8em;
    letter-spacing: 0 !important;
    background: rgba(248, 248, 242, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
._3bOojRTNpz_RRgSfLJ2m_9 {
  color: rgba(179, 179, 179, 0.8);
  font-size: 0.8rem; }

._3lV0270VrC8E9u42eF7U3h {
  display: flex;
  justify-content: space-around; }

._3j7NyOVG_Jd9yyhvLixu1 {
  border-radius: 2em; }

._3HAG2OMCVSXM0afhhCnv6z {
  color: gray;
  font-size: 0.6rem;
  line-height: 0.1rem; }

.lm4XOmvJvCskcxnXQpAkZ h2 {
  color: gray;
  font-size: 1em; }

.lm4XOmvJvCskcxnXQpAkZ h3 {
  font-weight: lighter; }

.META {
  color: gray;
  font-size: 0.6rem;
  line-height: 0.1rem;
  margin-bottom: 0.8rem; }

.skills ul li {
  background-color: #e4e3e3;
  padding: 0.3em;
  margin: 0.2em;
  border-radius: 0.5em;
  color: #312b1d;
  font-weight: 300; }

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; }
._2PaqYlSq9jWzAwQorvs00W, ._2ajUiGBrPB2yC6CIWcrQJC {
  margin: 0 auto !important;
  float: none !important; }
  @media print {
    ._2PaqYlSq9jWzAwQorvs00W, ._2ajUiGBrPB2yC6CIWcrQJC {
      display: none !important; } }

._2PaqYlSq9jWzAwQorvs00W {
  padding: 0.5rem 1.5rem; }

._2ajUiGBrPB2yC6CIWcrQJC {
  background: #282B36; }

._2rRY3svhhwPu9bePGWswvP, ._3M0Xh8GsYZv8yDHa4srEnM {
  max-width: 740px;
  margin: 0 auto !important;
  padding: 2rem 1.5rem; }
.zoitUEXcG53KItLgsFRxJ {
  display: flex;
  align-items: center;
  align-content: space-around;
  margin: 3em 1em 3em 1em; }

._3LxVLUJ_WNAD8-THfncenT {
  width: 50px;
  margin: 0 1em 0 0; }

._3c__gmJsxaxnss7oJQacEE {
  font-size: 2em;
  font-weight: 800; }
.CqzBdTw4K-LBwBlsa3mLa {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.metNae09SQ0qTPtEvLhZ {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .5rem 1.5rem; }

.metNae09SQ0qTPtEvLhZ:hover {
  background-color: #f1f1f1;
  text-decoration: none; }
._38noT95NNoNrVncX_q4GHp {
  padding: 5.0rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.8); }

._2zsu2xZrO0rne_Ddsmf4g0 {
  display: flex;
  flex-direction: row; }
  ._2zsu2xZrO0rne_Ddsmf4g0 a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0.5rem; }

.xui7HpLripaLriQVgrqDj {
  height: 0.5rem; }

._6smomSomZCYbMTx6xwLvb {
  padding: 1.5rem 1.5rem; }
._1mBM3Fwn5a6dR-8fXFy5Ag {
  margin-left: 5px;
  padding: 3px;
  background-color: gray;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 0.8em; }
