$lang-labels: (
  language-c: "C",
  language-swift: "Swift",
) !default;

$langs: "c" "swift" "java" "Chinese" "English" "ruby" "python" "sh" "emacs-lisp";

$code-background-color: #272822;
$code-color: #f8f8f2;

.highlight {
  position: relative;
  pre {
    @each $lang in $langs {
      code[data-lang="#{$lang}"]::before {
        content: $lang;
        display: inline;
        position: absolute;
        top: 0;
        right: 5px;
        padding: 4px;
        // color: #75715e;
        color: $code-color;
        font-size: 0.8em;
        letter-spacing: 0 !important;
        background: rgba($code-color, .3);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    // @each $lang, $label in $lang-labels {
    //   &>.#{$lang}::before {
    //     content: $label;
    //     display: inline;
    //     position: absolute;
    //     top: 0;
    //     right: 10px;
    //     padding: 4px;
    //     color: #75715e;
    //     fontSize: 0.5em !important;
    //     letter-spacing: 0 !important;
    //   }
    // }
  }
}
