:global {

  body {
    max-width: 740px;
    margin: 0 auto !important;
    float: none !important;
    padding: 2rem 1.5rem;

  }

  @import "link";
  @import "tune";
  @import "code";
  // @import "index";
  // @import "toc";
}
