:global {

  @import "vars";

  body {
    margin: 0 auto !important;
    float: none !important;
    color: $primary;
  }

  main {
    @include centered-content();
  }

  @import "link";
  @import "tune";
  @import "code";
  // @import "index";
  // @import "toc";
}
